$separator-color: #AAAAAA;
@import "../App";

.playlist-table {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 5px 5px 15px;
    margin-top: 15px;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
}

.playlist-row {
    border: black solid 1px;
    border-radius: 15px;
}